# Expo / Javascript
node_modules/
apps/mobile/.expo/

# Django / Python
.venv/
__pycache__/
*.pyc

# Secrets and Environment Variables
.env
*.local
.vscode/settings.json
package-lock.json
apps/mobile/package.json

